<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".WebDemo.using_WebView.WebActivity"
            android:exported="false" />
        <activity
            android:name=".WebDemo.using_WebView.WeatherWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".WebDemo.using_Intent_to_Open_in_Browser.WeatherWebDemo"
            android:exported="false" />
        <activity
            android:name=".retrofit_withNestedCall.using_RxJava.WeatherNestedusingRxJava"
            android:exported="false" />
        <activity
            android:name=".retrofit_withNestedCall.using_RxJava.WeatherNestedUsingRxJava"
            android:exported="false" />
        <activity
            android:name=".retrofit_withNestedCall.using_LiveData.WeatherNestedUsingLiveData"
            android:exported="false" />
        <activity
            android:name=".retrofit_withNestedCall.Weather_liveData_nestedCall"
            android:exported="false" />
        <activity
            android:name=".retrofit_with_Response_callback.WeatherApp_using_response_callback"
            android:exported="false" />
        <activity
            android:name=".volley.volley_withGson.Weather_usingVolleyGson"
            android:exported="false" />
        <activity
            android:name=".volley.volley_withJson.Weather_WithVolleyJson"
            android:exported="false" />
        <activity
            android:name=".asyncTask.Weather_UsingAsync"
            android:exported="false" />
        <activity
            android:name=".httpURLConnection.nestedCall.WeatherNestedActivity"
            android:exported="false" />
        <activity
            android:name=".httpURLConnection.using_MVVM.WeatherActivity_HttpUrlConnection"
            android:exported="false" />
        <activity
            android:name=".httpURLConnection.WeatherApp_HttpURLConnection"
            android:exported="false" />
        <activity
            android:name=".mvvm.WeatherActivity_RxJava"
            android:exported="false" />
        <activity
            android:name=".mvvm.WeatherApp_MVVM"
            android:exported="false" />
        <activity
            android:name=".mvp.WeatherActivity_MVP"
            android:exported="false" />
        <activity
            android:name=".mvc.controller.WeatherActivity_MVC"
            android:exported="false" />
        <activity
            android:name=".noArchitecture.Weather_NoArchitecture"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>